@CHARSET "UTF-8";


	.container{
		height : 1200px;
		border: 1px solid black;
	}
	
    .row.content {height: 1500px}
    
    .sidenav {
      display : inline-block;
      background-color: #f1f1f1;
      height: 100%;
      padding: 35px;
    }
  
